<html>
    <head>
        <title> harmony</title>
        <link rel="icon" type="image/x-icon" href="/home/c/Pictures/favicon.ico">
        <h1 style="background-color:rgb(244, 116, 184);"> add contact</h1>
        <body style="background-color:rgb(201, 225, 229);">

<form action="/d" method="POST">
  <label for="prefix">prefix:</label>
  <select name="prefix" id="prefix">
    <option value="d.">d.</option>
    <option value="dr.">dr.</option>
    <option value="do.">do.</option>
    <option value="ms.">ms.</option>
    <option value="mr.">mr.</option>
    <option value="clinic.">clinic.</option>
    <option value="center.">center.</option>
    <option value="sec.">sec.</option>
    <option value="manager.">manager.</option>
    <option value="cow.">cow.</option>
    <option value="Other.">Other.</option>
  </select>
  <label for="gender">gender:</label>
  <select name="gender" id="gender">
    <option value="male">male</option>
    <option value="female">female</option>
    <option value="clinic">clinic</option>
  </select>  <br><br>
  <label for="job">job:</label>
  <select name="job" id="job">
    <option value="supplie">supplier</option>
    <option value="customer">customer</option>
    <option value="seller">seller</option>
  </select>  <br><br> 

  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname" minlength="3" maxlength="10">
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname" minlength="3" maxlength="15"><br>
  <label for="mobile">Mobile :</label>
  <input type="tel" id="mobile" name="mobile"  >
  <label for="mobile1">Mobile1:</label>
  <input type="tel" id="mobile1" name="mobile1" required ><br>
  <label for="mobile2">Mobile2:</label>
  <input type="tel" id="mobile2" name="mobile2" length="11">
  <label for="work phone">work phone:</label>
  <input type="tel" id="work phone" name="work phone"><br>
  <input type="checkbox" id="Iran" name="Iran">
  <label for="Iran">Iran</label>
  <input type="checkbox" id="other country" name="other country">
  <label for="other country">other country</label><br><br>
  <label for="city">city:</label><br>
  <input type="text" id="city" name="city">
  <select name="area" id="area">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value=""></option>
  </select><br><br>
  <label for="address">address:</label><br>
  <input type="text" id="address" name="address"><br><br>
  
  <label for="category">Choose a category:</label>
  <select name="education" id="category">
    <option value="GP">GP</option>
    <option value="Dermatologist">Dermatologist</option>
    <option value="Beaution">Beaution</option>
    <option value="Secretory"><a href="https://poostpoost.ir">Secretory<a></option>
    <option value="manager">Manager</option>
    <option value="Other">Other</option>
  </select><br><br>
  <input type="checkbox" id="customer" name="customer">
  <label for="customer"> customer </label><br>
  <input type="checkbox" id="active" name="active">
  <label for="active"> active </label>
  <input type="checkbox" id="active" name="active">
  <label for="not active"> not active </label>
  <br><br>

  <label for="vol">doctor behavior on the phone (between 0 and 100):</label>
  <input type="range" id="vol" name="vol" min="0" max="100" step="10">

  <label for="favcolor">Select your favorite color:</label>
  <input type="color" id="favcolor" name="favcolor" value="#ff0000"><br><br>
  <input type="submit" value="submit">
</form> 
<br><br>
            <p>you can go to our website:</p>
            <a href="https://poostpoost.ir">This is our website link</a>
            <br>

        </body>
    </head>
</html>