<html>
    <head>
        <h1 style="background-color:rgb(244, 116, 184);">add product</h1>
    </head>    
        <body style="background-color:rgb(242, 245, 181);">
          

          <form action="/product" method="POST">
            <label for="id">id:</label>
            <input type="text" id="id" name="id"><br><br>
  <label for="category">category:</label>
  <select name="category" id="category">
    <option value="filler">filler</option>
    <option value="botax">botax</option>
    <option value="meso">meso</option>
    <option value="masrafi">masrafi</option>
    <option style="color: aqua;" value="skin care">skin care</option>
    <option value="equipment">equipment</option>
  </select><br><br>
  <label for="name">name:</label>
  <input type="text" name="name" id="name">
  <br><br>
  <label for="unit">unit:</label>
  <select name="unit" id="unit">
    <option value="box">box</option>
    <option value="addad">addad</option>
    <option value="carton">carton</option>
  </select><br><br>
  <label for="company name">company name:</label>
  <input type="text" id="company name" name="name">
  <label for="country">country:</label>
  <input type="text" id="country" name="name"><br><br>
    <lable for="expire">expire</lable>
    <input type="date" id="expire" name="expire"><input type="checkbox" id="certificate" name="certificate">
    <label for="certificate"> certificate </label>
    <input type="checkbox" id="not certificate" name="not certificate">
    <label for="not certificate"> not certificate </label>
    <br><br>
    <lable for="sell price">sell price</lable>
    <input type="text" id="sell price" name="sell price"><br><br>
    <lable for="purchase price">purchase price</lable>
    <input type="purchase price" id="purchase price" name="purchase price"><br><br>
      <input type="file" id="myFile" name="filename"><br>
  <input type="submit" value="submit">
</form>
</body>
</html>
  